<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kelis.mapper.UserMapper">
    <update id="update">
        update user
        <set>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="query" resultType="com.kelis.entity.User">
        select * from user
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="com.kelis.entity.User">
        insert into user (username, password, email, status, createTime, updateTime, createPerson, updatePerson, sex, avatar)
        values (#{username}, #{password}, #{email}, #{status}, #{createTime}, #{updateTime}, #{createPerson}, #{updatePerson}, #{sex}, #{avatar})
    </insert>

</mapper>